{
    "extends": [
        "airbnb",
        "eslint:recommended",
        "plugin:react/recommended"
    ],
    "env": {
        "es6": true,
        "browser": true,
        "node": true
    },
    "parserOptions": {
        "ecmaVersion": 2018,
        "sourceType": "module",
        "ecmaFeatures": {
            "jsx": true
        }
    },

    "plugins": [
        "react"
    ],
    "rules": {
        "no-extend-native": "off",
        "semi": 2,
        "no-console": "off",
        "no-restricted-globals": [
            "error", {
                "name": "event",
                "message": "IDK"
            }
        ]
    }
}