{
    "extends": "react-app",
    "env": {
        "browser": true,
        "node": true
    },
    "plugins": [
        "react",
        "jsx-a11y"
    ],
    "rules": {
        "jsx-a11y/aria-props": 2,
        "jsx-a11y/heading-has-content": 0,
        "jsx-a11y/href-no-hash": 2,
        "jsx-a11y/label-has-for": 2,
        "jsx-a11y/mouse-events-have-key-events": 2,
        "jsx-a11y/role-has-required-aria-props": 2,
        "jsx-a11y/role-supports-aria-props": 2,
        "linebreak-style": ["error", "windows"],
        "no-console": "off",
        "comma-dangle": "off",
        "react/jsx-filename-extension": "off",
        "quotes": ["error", "double"],
        "jsx-quotes": ["error", "prefer-double"],
        "indent": "off",
        "import/prefer-default-export": "off",
        "react/prefer-stateless-function": "off",
        "react/jsx-indent": "off",
        "react/jsx-max-props-per-line": "off",
        "react/jsx-first-prop-new-line": "off",
        "react/no-unknown-property": "off",
        "react/jsx-indent-props": "off",
        "react/style-prop-object": "off",
        "react/require-default-props": "off",
        "jsx-a11y/label-has-for": "off",
        "react/jsx-boolean-value": "off"
    }
}