$context-white:#fff;
$context-font:#373a3c;
$blue:#20a0ff;
$context-border-color:rgba(0, 0, 0, .15);
$context-border:1px solid $context-border-color;
.react-contextmenu {
    min-width: 160px;
    padding: 5px 0;
    margin: 2px 0 0;
    font-size: 16px;
    color: $context-font;
    text-align: left;
    background-color: $context-white;
    background-clip: padding-box;
    border: $context-border;
    border-radius: .25rem;
    outline: none;
    opacity: 0;
    pointer-events: none;
    transition: opacity 250ms ease !important;
}

.react-contextmenu.react-contextmenu--visible {
    opacity: 1;
    pointer-events: auto;
}

.react-contextmenu-item {
    padding: 3px 20px;
    font-weight: 400;
    line-height: 1.5;
    color: $context-font;
    text-align: inherit;
    white-space: nowrap;
    background: 0 0;
    border: 0;
    cursor: pointer;
}

.react-contextmenu-item.react-contextmenu-item--active,
.react-contextmenu-item.react-contextmenu-item--selected {
    color: $context-white;
    background-color: $blue;
    border-color: $blue;
    text-decoration: none;
}

.react-contextmenu-item.react-contextmenu-item--disabled,
.react-contextmenu-item.react-contextmenu-item--disabled:hover {
    color: #878a8c;
    background-color: transparent;
    border-color: $context-border-color;
}

.react-contextmenu-item--divider {
    margin-bottom: 3px;
    padding: 2px 0;
    border-bottom: $context-border;
    cursor: inherit;
    :hover {
        background-color: transparent;
        border-color: $context-border-color;
    }
}

.react-contextmenu-item.react-contextmenu-submenu {
    padding: 0;
}

.react-contextmenu-item.react-contextmenu-submenu>.react-contextmenu-item {
    :after {
        content: "▶";
        display: inline-block;
        position: absolute;
        right: 77px;
    }
}

.example-multiple-targets::after {
    content: attr(data-count);
    display: block;
}