@import 'colors.scss';
@import 'card.scss';
body {
  // position: absolute;
  background-color: $main-bg;
  top: 20px; // left: 20px;
  bottom: 20px; // right: 20px;
  overflow-y: scroll;
  overflow-x: hidden;
}

.bgc-gray {
  background-color: #f9fafb !important;
}

td {
  font-weight: bold;
}

.noBorder {
  border-bottom: 0px !important;
}

.bd {
  border: 1px solid rgba(0, 0, 0, .0625) !important;
}

.bgc-white,
.bgcH-white:hover {
  background-color: #fff !important;
}

.p-20 {
  padding: 20px !important;
}

.gap-20 {
  margin: -10px !important;
}

.layers {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column nowrap;
  flex-flow: column nowrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

[class*=gap] {
  width: auto !important;
  overflow: hidden !important;
}

.action {
  text-align: center;
  width: 65px;
}

.ready,
.myRow {
  background-color: $ready-color !important;
}

.intransit,
.theirRow {
  background-color: $intransit-color !important;
}

.action {
  width: 70px;
}

.centerDiv {
  overflow: hidden;
  text-align: center;
}

@keyframes flickerAnimation {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-o-keyframes flickerAnimation {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes flickerAnimation {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes flickerAnimation {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.animate-flicker {
  -webkit-animation: flickerAnimation 1s infinite;
  -moz-animation: flickerAnimation 1s infinite;
  -o-animation: flickerAnimation 1s infinite;
  animation: flickerAnimation 1s infinite;
}

%rgb-shared {
  padding: 0px !important;
  content: '';
  position: relative;
  display: inline-block;
  vertical-align: top; // width: 15px;
  height: 100%;
}

@mixin rackGroup($color) {
  @extend %rgb-shared;
  background-color: $color !important;
  margin-left: 0px;
}

.table-bordered>thead>tr>th,
.table-bordered>tbody>tr>th,
.table-bordered>tfoot>tr>th,
.table-bordered>thead>tr>td,
.table-bordered>tbody>tr>td,
.table-bordered>tfoot>tr>td {
  >.rack-group-purple:before {
    @include rackGroup($rackpurple-color);
  }
  >.paint-color-red:before {
    @extend %rgb-shared;
    background-color: $rackred-color;
  }
  >.paint-color-yellow:before {
    @extend %rgb-shared;
    background-color: $rackyellow-color;
  }
  >.paint-color-orange:before {
    @extend %rgb-shared;
    background-color: $rackorange-color;
  }
  >.paint-color-black:before {
    @extend %rgb-shared;
    background-color: $black;
  }
  >.paint-color-grey:before {
    @extend %rgb-shared;
    background-color: $grey;
  }
  >.paint-color-white:before {
    @extend %rgb-shared;
    background-color: $white-color;
  }
  >.paint-color-green:before {
    @extend %rgb-shared;
    background-color: $rackgreen-color;
  }
  >.paint-color-purple:before {
    @extend %rgb-shared;
    background-color: $rackpurple-color;
  }
}

.rack-group-purple:before {
  @include rackGroup($rackpurple-color);
}

.rack-group-blue:before {
  @extend %rgb-shared;
  background-color: $blue-color;
}

.scheduled {
  >.paint-color-blue:before {
    @extend %rgb-shared;
    background-color: $blue-color;
  }
  >.paint-color-red:before {
    @extend %rgb-shared;
    background-color: $rackred-color;
  }
  >.paint-color-yellow:before {
    @extend %rgb-shared;
    background-color: $rackyellow-color;
  }
  >.paint-color-orange:before {
    @extend %rgb-shared;
    background-color: $rackorange-color;
  }
  >.paint-color-black:before {
    @extend %rgb-shared;
    background-color: $black;
  }
  >.paint-color-grey:before {
    @extend %rgb-shared;
    background-color: $grey;
  }
  >.paint-color-white:before {
    @extend %rgb-shared;
    background-color: $white-color;
  }
  >.paint-color-green:before {
    @extend %rgb-shared;
    background-color: $rackgreen-color;
  }
  >.paint-color-purple:before {
    @extend %rgb-shared;
    background-color: $rackpurple-color;
  }
}

[class*="rack-group-"] {
  padding: 0px !important
}

[class^="icon-"],
[class*=" icon-"] {
  display: inline-block;
  width: 100%;
}

td i {
  text-align: center;
}

[class*="paint-color-"] {
  padding: 0px !important
}

.unscheduled {
  background-color: #ddd !important;
  font-style: italic;
  opacity: .75;
}

.table-striped>tbody>tr:nth-of-type(odd) {
  .unscheduled {
    background-color: #ccc !important;
  }
  .exception {
    background-color: orange !important;
    font-style: italic;
  }
}

.exception {
  background-color: orange !important;
  font-style: italic;
}

.pending {
  background-color: rgba(255, 255, 0, .45) !important;
  font-style: italic;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.driver-options {
  display: flex;
}

.waves-effect {
  position: relative;
  cursor: pointer;
  overflow: hidden;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent
}

.bg-success>div {
  background-color: #dff0d8 !important;
}

.sectionItem {
  span {
    margin-left: 10px;
  }
}

.modal-container {
  margin: 5px;
}

.bg-normal {
  background-color: $white-color;
}

.hidden {
  display: none;
}

.invalid-carrier-range {
  color: $redhot-color;
  font-weight: 900;
}

.topSection {
  height: 50px;
  background-color: $schedule-bg;
  display: inline-flex;
  align-items: center !important;
  justify-content: flex-start;
}

.header-row {
  display: inline-flex;
  align-items: stretch;
  justify-content: flex-start;
  height: 50px;
  border: solid 2px;
  border-color: #ddd;
  margin-bottom: 5px;
}

.drag-handle {
  display: none;
}

.shipifgood>div {
  font-weight: bold;
  background-color: $shipifgood-color;
}

.rdg {
  // overflow: hidden;
  padding-top: 1em;
}

.top {
  margin-top: 5px;
}

.pcl {
  margin: 0 auto;
  max-width: 120em;
  line-height: 1.3;
}

// ul,
// li {
//   margin: 0;
//   padding: 0;
//   list-style: none;
// }
// Flex items
.list {
  display: flex;
  flex-wrap: wrap;
}

.list-item {
  padding: 1em;
  display: flex;
  width: 100%;
}

@media all and (min-width: 40em) {
  .list-item {
    width: 50%;
  }
}

@media all and (min-width: 60em) {
  .list-item {
    width: 20%;
  }
}

.list-content {
  display: flex;
  flex-direction: column;
  padding: 1em;
  width: 100%;
  max-height: 25em;
  p {
    flex: 1 0 auto;
  }
}

//  Let's get this party started 
::-webkit-scrollbar {
  width: 12px;
  height: 8px;
}

// Track  
// Handle 
::-webkit-scrollbar-thumb {
  margin-right: 2px;
  -webkit-border-radius: 12px;
  border-radius: 12px;
  background: #a9a9a9;
}

.bottom-nav {
  background: white;
  border-top: 1px solid #ddd;
  position: fixed;
  bottom: 0px;
  left: 0px;
  right: 0px;
  width: 100%;
  padding-left: 12px;
  padding-bottom: 6px;
  display: flex;
  >li {
    margin-top: 10px;
    a {
      padding: 5px 10px;
    }
  }
}

.react-context-menu {
  min-width: 160px;
  padding: 5px 0;
  margin: 2px 0 0;
  font-size: 14px;
  color: #373a3c;
  text-align: left;
  background-color: #fff;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, .15);
  border-radius: .25rem;
  outline: none;
}

.react-context-menu-link {
  display: inline-block;
  width: 100%;
  padding: 3px 20px;
  clear: both;
  font-weight: 400;
  line-height: 1.5;
  color: #373a3c;
  text-align: inherit;
  white-space: nowrap;
  background: 0 0;
  border: 0;
  .active,
  &:hover {
    color: #fff;
    background-color: #0275d8;
    border-color: #0275d8;
    text-decoration: none;
  }
  .disabled {
    display: none;
    color: #ccc;
    text-decoration: none;
    background-color: inherit;
    cursor: not-allowed;
  }
  .submenu {
    >a {
      padding-right: 27px;
    }
    >a:after {
      content: "\25B6";
      display: inline-block;
      position: absolute;
      right: 7px;
    }
  }
}

.container-fluid {
  height: 100%;
  padding-left: 0px;
  padding-right: 0px;
}

#chart {
  height: 80%;
  overflow: hidden;
}

.chart-info {
  height: 20%;
}

.rdg-row-index {
  display: block;
  text-align: center;
}

.rdg-row-actions-cell {
  padding: 0px;
}

.rdg-actions-checkbox {
  display: none;
  text-align: center;
}

.rdg-actions-checkbox.selected {
  display: block;
}

.rdg-dragging {
  cursor: -webkit-grabbing;
  cursor: -moz-grabbing;
  cursor: grabbing;
}

.rdg-dragged-row {
  border-bottom: 1px solid #000000;
}

@keyframes pulse {
  0% {
    background-color: #ff0;
  }
  50% {
    background-color: #fff;
  }
  100% {
    background-color: #ff0;
  }
}

@mixin editorMain {
  display: block;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555555;
  background-color: $white-color;
  background-image: none;
  border: 1px solid #cccccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  -o-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}

.radio-custom+.radio-custom-label:before {
  border-radius: 50%;
}

.radio-custom:checked+.radio-custom-label:before {
  background: #ccc;
  box-shadow: inset 0px 0px 0px 4px #fff;
}

.react-autocomplete-Autocomplete__search {
  display: block;
  width: 100%;
  height: 36px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.6;
  color: #555555;
  background-color: white;
  background-image: none;
  border: 1px solid #cccccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  -o-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}

.react-autocomplete-Autocomplete__search:focus {
  border-color: #a21618;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(162, 22, 24, 0.6);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(162, 22, 24, 0.6);
}

.react-autocomplete-Autocomplete__search::-moz-placeholder {
  color: #777777;
  opacity: 1;
}

.react-autocomplete-Autocomplete__search:-ms-input-placeholder {
  color: #777777;
}

.react-autocomplete-Autocomplete__search::-webkit-input-placeholder {
  color: #777777;
}

.react-autocomplete-Autocomplete__search[disabled],
.react-autocomplete-Autocomplete__search[readonly],
fieldset[disabled] .react-autocomplete-Autocomplete__search {
  cursor: not-allowed;
  background-color: #eeeeee;
  opacity: 1;
}

textarea.react-autocomplete-Autocomplete__search {
  height: auto;
}

.react-autocomplete-Autocomplete__results {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 160px;
  padding: 5px 0;
  margin: 2px 0 0;
  list-style: none;
  font-size: 14px;
  text-align: left;
  background-color: white;
  border: 1px solid #cccccc;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  background-clip: padding-box;
  min-width: 250px;
  width: 100%;
  max-height: 200px;
  overflow: auto;
}

.react-autocomplete-Autocomplete__results.pull-right {
  right: 0;
  left: auto;
}

.react-autocomplete-Autocomplete__results .divider {
  height: 1px;
  margin: 10px 0;
  overflow: hidden;
  background-color: #e5e5e5;
}

.react-autocomplete-Autocomplete__results>li>a {
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: normal;
  line-height: 1.6;
  color: #333333;
  white-space: nowrap;
}

.react-autocomplete-Autocomplete__results div.action-button {
  display: block !important;
  padding: 4px;
}

.react-autocomplete-Result {
  cursor: pointer;
}

.react-autocomplete-Result>a {
  text-decoration: none;
}

.react-autocomplete-Result--active {
  color: #262626;
  background-color: whitesmoke;
}

.slideUp {
  animation-name: slideUp;
  -webkit-animation-name: slideUp;
  animation-duration: 1s;
  -webkit-animation-duration: 1s;
  animation-timing-function: ease;
  -webkit-animation-timing-function: ease;
  visibility: visible !important;
}

@keyframes slideUp {
  0% {
    transform: translateY(100%);
  }
  50% {
    transform: translateY(-8%);
  }
  65% {
    transform: translateY(4%);
  }
  80% {
    transform: translateY(-4%);
  }
  95% {
    transform: translateY(2%);
  }
  100% {
    transform: translateY(0%);
  }
}

@-webkit-keyframes slideUp {
  0% {
    -webkit-transform: translateY(100%);
  }
  50% {
    -webkit-transform: translateY(-8%);
  }
  65% {
    -webkit-transform: translateY(4%);
  }
  80% {
    -webkit-transform: translateY(-4%);
  }
  95% {
    -webkit-transform: translateY(2%);
  }
  100% {
    -webkit-transform: translateY(0%);
  }
}

.form-group input[type="checkbox"] {
  display: none;
}

.form-group input[type="checkbox"]+.btn-group>label span {
  width: 20px;
}

.form-group input[type="checkbox"]+.btn-group>label span:first-child {
  display: none;
}

.form-group input[type="checkbox"]+.btn-group>label span:last-child {
  display: inline-block;
}

.form-group input[type="checkbox"]:checked+.btn-group>label span:first-child {
  display: inline-block;
}

.form-group input[type="checkbox"]:checked+.btn-group>label span:last-child {
  display: none;
}

@media only screen and (max-width: 768px) {
  .navbar-nav {
    font-size: 11px;
  }
  .navbar-text {
    font-size: 11px;
  }
  .rdg {
    padding-top: 1em;
  }
}

@media (min-width: 768px) {}

.nav>li>p {
  position: relative;
  display: block;
  margin: 15px;
  >a {
    color: $link-color;
    &:focus,
    &:hover {
      text-decoration: none;
      background-color: #eee
    }
  }
}

.tap {
  text-align: center;
  vertical-align: middle !important;
}

.fixed-header {
  width: 100%;
  tbody {
    height: 450px;
    overflow-y: auto;
    width: 100%;
    display: block;
  }
  thead {
    >tr {
      display: block;
      text-align: center;
    }
  }
  th.tap {
    width: 20%;
    text-align: center;
  }
  td.tap {
    width: 20%;
  }
  .undo {
    width: 50px !important; // 
    min-width: 65px;
    text-align: center;
    vertical-align: middle !important;
  }
  td.tap.undo {
    padding: 10px !important;
  }
  tr>td {
    vertical-align: middle !important;
  }
}

.paint-app-table {
  overflow: auto;
  height: 500px;
}